{% extends 'MAIN/main.html' %}
{% load static %}
{% load humanize %}

{% block title %} {{ company.brand_name }} | Add Sales Order {% endblock title %}


{% block css %}
    
{% endblock css %}
    

{% block brand %} {{ company.brand_name }} {% endblock brand %}
    

{% block content %}
{% if perms.SALES.add_salesorder %}
<div class="content">
                        
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'SALES:sales_order_list' %}">Sales Order</a></li>
                        <li class="breadcrumb-item active">Add</li>
                    </ol>
                </div>
                <h4 class="page-title">Add Sales Order</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-11">

            <div class="horizontal-steps mt-4 mb-4 pb-5">
                <div class="horizontal-steps-content">
                    <div class="step-item current">
                        <span>Create</span>
                    </div>
                    <div class="step-item">
                        <span>Add Item</span>
                    </div>
                    <div class="step-item">
                        <span>Finish</span>
                    </div>
                </div>

                <div class="process-line" style="width: 0%;"></div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">
                                <h4 class="mb-2">Customer Infomation</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ form.customer.label }} {% if form.customer.field.required %} <span class="text-danger">*</span> {% endif %} </label>
                                            {{ form.customer }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ form.customer_billing_address.label }} {% if form.customer_billing_address.field.required %} <span class="text-danger">*</span> {% endif %} </label>
                                            {{ form.customer_billing_address }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ form.customer_delivery_address.label }} {% if form.customer_delivery_address.field.required %} <span class="text-danger">*</span> {% endif %} </label>
                                            {{ form.customer_delivery_address }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ form.customer_payment_term.label }} {% if form.customer_payment_term.field.required %} <span class="text-danger">*</span> {% endif %} </label>
                                            {{ form.customer_payment_term }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <h4 class="mb-2">Sales Order Infomation</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ form.date.label }} {% if form.date.field.required %} <span class="text-danger">*</span> {% endif %} </label>
                                            {{ form.date }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ form.delivery_date.label }} {% if form.delivery_date.field.required %} <span class="text-danger">*</span> {% endif %} </label>
                                            {{ form.delivery_date }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ form.sales_reps.label }} {% if form.sales_reps.field.required %} <span class="text-danger">*</span> {% endif %} </label>
                                            {{ form.sales_reps }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>{{ form.remark.label }} {% if form.remark.field.required %} <span class="text-danger">*</span> {% endif %} </label>
                                            {{ form.remark }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <a href="{% url 'SALES:sales_order_list' %}" class="btn text-muted d-none d-sm-inline-block btn-link font-weight-semibold">
                                    <i class="mdi mdi-arrow-left"></i> Back to Sales Order List 
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="mdi mdi-chevron-right mr-1"></i>Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% else %}
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Permission Denied</a></li>
                        <li class="breadcrumb-item active">Sales Order</li>
                    </ol>
                </div>
                <h4 class="page-title">Add Sales Order</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h3 class="">Permission Denied !</h3>
                <p class="text-muted mt-3">Sorry, you don't have permission to add sales order data.</p>
                <a class="btn btn-primary btn-sm mt-2" href="/"><i class="mdi mdi-home mr-1"></i>Back To Home</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
    

{% block script %}

{% endblock script %}